.git
.github
.dvc/cache
.dvc/tmp
__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
venv
.venv
.env
.idea
.vscode
mlruns
mlartifacts
outputs
multirun
hydra_outputs
.optuna
artifacts
report.md
*.log
.airflow_ci
airflow/logs/*
!airflow/logs/.gitkeep
